<h3>Search Movies</h3>

<%= form_tag(movies_path, method: "get") do %>
  <%= label_tag(:q_name, "By Title or Director: ") %>
  <%= text_field_tag(:q_name) %>
  <hr />
  <%= label_tag(:q_runtime_from, "By Running Time: ") %>
  <%= number_field_tag(:q_runtime_from, nil, in: 1..200, size: 4) %>
  <%= label_tag(:q_runtime_to, " minutes to ") %>
  <%= number_field_tag(:q_runtime_to, nil, in: 1..200, size: 4) %> minutes
  <hr />
  <%= submit_tag("Search") %> | <%= button_tag("Reset", type: "reset") %>
<% end %>