<%= link_to "All Movies", movies_path, class: "new_edit" %>
<br />
<%= link_to image_tag(@movie.poster_image_url.to_s), movie_path(@movie) %>
<h2>
  <%= @movie.title %>
</h2>
<h4>
  <%= format_date(@movie.release_date) %>
</h4>
<h4> 
  Director: <%= @movie.director %> <br />
  Running Time: <%= @movie.runtime_in_minutes %> minutes
</h4>
<p>
  <%= @movie.description %>
</p>

<hr>
<%= link_to "edit movie", edit_movie_path(@movie), class: "new_edit" %>
<br />
<%= link_to "delete movie", movie_path(@movie), method: :delete, 
    data: { confirm: "Are you sure you want to delete this movie?" },
    class: "new_edit" %>

<hr>

<h3>
  Reviews
</h3>
<h4>
  Average Rating: <%= @movie.review_average %> 
</h4>

<% if current_user %>
  <% @movie.reviews.each do |review| %>
    <p> <%= review.text %> </p>
    <p> <%= review.rating_out_of_ten %>/10 </p>
    <small> by: <%= review.user.full_name %> </small>
    <br />
  <% end %>

  <hr>
  <%= link_to "Write your review!", new_movie_review_path(@movie), class: "new_edit" %>
<% else %>
  <p>
    <%= link_to "Log in", new_session_path %> to see reviews and add your own.
  </p>
<% end %>