<%= link_to "All Movies", movies_path %>
<br />
<%= link_to image_tag(@movie.poster_image_url.to_s), movie_path(@movie) %>
<h2>
  <%= @movie.title %> (<%= link_to "edit movie", edit_movie_path(@movie) %>, <%= link_to "delete movie", movie_path(@movie), method: :delete, confirm: "Are you sure you want to delete this movie?" %>)
</h2>
<h3>
  <%= format_date(@movie.release_date) %>
</h3>
<h4> 
  Director: <%= @movie.director %> | Running Time: <%= @movie.runtime_in_minutes %> minutes
</h4>
<p>
  <%= @movie.description %>
</p>

<hr>

<h3>
  Reviews of <em> <%= @movie.title %> </em>
</h3>
<h5>
  Average Review: <%= @movie.review_average %> 
</h5>

<% if current_user %>
  <% @movie.reviews.each do |review| %>
    <p> <%= review.text %> </p>
    <p> <%= review.rating_out_of_ten %>/10 </p>
    <small> by: <%= review.user.full_name %> </small>
    <br />
  <% end %>
  <p>
    <%= link_to "Write your review!", new_movie_review_path(@movie) %>
  </p>
<% else %>
  <p>
    <%= link_to "Log in", new_session_path %> to see reviews and add your own.
  </p>
<% end %>