<h2>
  <%= @profile_user.full_name %>
</h2>
<h4>
  <%= @profile_user.email %>
</h4>

<hr>

<% if current_user %>
  <h3>
    Reviews by this user:
  </h3>
  <% @profile_user.reviews.each do |review| %>
    <%= link_to review.movie.title, movie_path(review.movie) %>
    <p> <%= review.text %> </p>
    <p> <%= review.rating_out_of_ten %>/10 </p>
    <br />
  <% end %>
  <hr>
<% else %>
  <p class="ask_login">
    <%= link_to "Log in", new_session_path %> to see reviews by this user.
  </p>
<% end %>