<%= render 'admin/dashboard' %>

<h2>Load a new movie from OMDB!</h2>

<% if @movie.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <%= pluralize(@movie.errors.count, "error") %> prevented this movie from being submitted:
    <ul>
      <% @movie.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<h4>Search by either the movie's IMDB ID or its title</h4> 

<%= form_for [:admin, @movie] do |f| %>
  <div class="input-group">
    <%= f.label(:imdb_id, "IMDB ID") %> <br />
    <%= f.text_field(:imdb_id, placeholder: "Eg: tt1285016") %>
  </div>
  <div class="input-group">
    <%= f.label(:title, "Movie Title") %> <br />
    <%= f.text_field(:title) %>
  </div>
  <div class="input-group">
    <%= submit_tag("Load") %>
  </div>
<% end %>
