<% if @admin_user.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <%= pluralize(@admin_user.errors.count, "error") %> prevented this user from being submitted:
    <ul>
      <% @admin_user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for([:admin, @admin_user]) do |f| %>
  <div class="input-group">
    <%= f.label "firstname" %><br />
    <%= f.text_field "firstname" %>
  </div>
  <div class="input-group">
    <%= f.label "lastname" %><br />
    <%= f.text_field "lastname" %>
  </div>
  <div class="input-group">
    <%= f.label "email" %><br />
    <%= f.text_field "email" %>
  </div>
  <div class="input-group">
    <%= f.label "password" %><br>
    <%= f.password_field "password" %>
  </div>
  <div class="input-group">
    <%= f.label "password_confirmation" %><br>
    <%= f.password_field "password_confirmation" %>
  </div>
  <div class="input-group">
    <%= f.label "admin", "Is this user an admin?" %> &nbsp;
    <%= f.check_box "admin" %>
  </div>
  <div class="input-group">
    <%= f.submit "Submit" %>
  </div>
<% end %>
