<h2>Admin Dashboard</h2>

<%= link_to "Back to this user", admin_user_path(@admin_user) %>

<h3>Edit this user.</h3>

<% if @admin_user.errors.any? %>
  <div>
    <%= pluralize(@admin_user.errors.count, "error") %> prevented this user from being submitted:
    <ul>
      <% @admin_user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for([:admin, @admin_user]) do |f| %>
  <div>
    <%= f.label "firstname" %><br />
    <%= f.text_field "firstname" %>
  </div>
  <div>
    <%= f.label "lastname" %><br />
    <%= f.text_field "lastname" %>
  </div>
  <div>
    <%= f.label "email" %><br />
    <%= f.text_field "email" %>
  </div>
  <div>
    <%= f.submit "Submit" %>
  </div>
<% end %>
