<%= render 'admin/dashboard' %>

<h3>List of Users</h3>

<div class="search_box">
  <%= render "admin/search" %>
</div>

<%= paginate @admin_users %>
<br />

<table class="table">
  <thead>
    <tr>
      <th>User Name</th>
      <th>Email</th>
      <th>Preview As</th>
    </tr>
  </thead>
  <tbody>
    <% @admin_users.each do |user| %>
      <tr>
        <td>
          <h4>
            <%= link_to user.full_name, admin_user_path(user) %>
          </h4>
        </td>
        <td>
          <%= user.email %>
        </td>
        <td>
          <%= link_to "Preview", "/session/admin_preview/#{user.id}" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>