<h2>Admin Dashboard</h2>
<hr />

<%= link_to "Create User", new_admin_user_path, class: "new_edit" %>
&nbsp;
<%= link_to "Load Movie", new_admin_movie_path, class: "new_edit" %>
<hr />

<%= paginate @admin_users %>
<br />

<table class="table">
  <thead>
    <tr>
      <th>User Name</th>
      <th>Email</th>
      <th>Preview As</th>
    </tr>
  </thead>
  <tbody>
    <% @admin_users.each do |user| %>
      <tr>
        <td>
          <h4>
            <%= link_to user.full_name, admin_user_path(user) %>
          </h4>
        </td>
        <td>
          <%= user.email %>
        </td>
        <td>
          <%= link_to "Preview", "/session/admin_preview/#{user.id}" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>