<!DOCTYPE html>
<html>
<head>
  <title>RottenMangoes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= render 'layouts/header' %>

    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "alert alert-warning", role: "alert") if key == 'alert' %>
      <%= content_tag(:div, value, class: "alert alert-success", role: "alert") if key == 'notice' %>
    <% end %>

    <%= yield %>
    <%= render 'layouts/footer' %>
  </div>
</body>
</html>
